<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">

<head>
<meta charset="UTF-8">
<title>ForgotPassword</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-4">
			<div class="card shadow p-3 mb-3 bg-body-tertiary rounded">
				<div class="row">
					<div class="col-lg-5 p-5">
						<img alt="login" src="img/shopping6.jpg" width="100%"
							height="500px">
					</div>
					<div class="col-lg-7 p-5">
						<div class="card-header">
							<p class="text-primary text-center fs-4">Forgot Password?</p>
						</div>
						<div class="card-body mb-2">
							<form>
								<div class="mb-3">
									<label class="form-label">Enter Your Email
										:</label>
									<div class="input-group">
										<input type="email" name="email" class="form-control">
										<span class="input-group-text"><i
											class="fas fa-envelope"></i></span>
									</div>
								</div>

								<div class="mb-3">
									<label class="form-label">Enter Your
										Password :</label>
									<div class="input-group">
										<input type="password" name="password" class="form-control">
										<span class="input-group-text"><i class="fas fa-lock"></i></span>
									</div>
								</div>
								
								<div class="mb-3">
									<label class="form-label">Retype Your
										Password :</label>
									<div class="input-group">
										<input type="password" name="password" class="form-control">
										<span class="input-group-text"><i class="fa-solid fa-key"></i></span>
									</div>
								</div>
								

								<button class="btn btn-primary text-center col-md-12 mb-1"
									type="submit">Submit</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>